* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

body {
  font-family: var(--bs-body-font-family);
  font-size: 18px;
  margin: 0;
}

a:link,
a:visited {
  color: var(--bs-link-color);
}

a:hover {
  color: var(--bs-link-hover-color);
}

.global-header {
  display: grid;
  grid-template-columns: auto 200px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bs-black);
  min-height: 80px;
}

.global-header__right {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}

.global-nav {
  width: 100%;
  grid-column: 1/3;
  border-top: 1px solid #333;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s;
  background-color: var(--bs-black);
  color: white;
}

.global-nav__section-heading {
  margin-left: 10px;
}

.--green {
  color: var(--bs-light-green);
}

.--blue {
  color: var(--bs-chathams-blue-3);
}

.global-nav button {
  background-color: transparent;
  border: 0;
  padding: 1rem;
  cursor: pointer;
}

.global-nav svg {
  --icon-color: white;
}

.global-nav__toggle--closed {
  display: flex;
  align-items: center;
}

.global-nav__toggle--open {
  display: none;
  align-items: center;
}

.global-nav__split-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  background-color: var(--bs-gray-800);
  margin-left: -41px;
  max-height: 80px;
  font-size: 1.2em;
}

.global-nav__split-button:hover {
  background-color: var(--bs-gray-900);
}

.global-nav__split-button__toggle {
  margin-right: 5px;
}

.global-nav__split-button a {
  color: white;
  text-decoration: none;
  font-size: 1.1em;
  margin-left: 15px;
}

.global-nav__list li {
  list-style: none;
}

#global-nav-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  background-color: var(--bs-black);
  padding: 0px 20px 0px 20px;
}

.global-nav__toggle[aria-expanded="true"] > .global-nav__toggle--closed {
  display: none;
}

.global-nav__toggle[aria-expanded="true"] > .global-nav__toggle--open {
  display: flex;
}

.show-menu {
  max-height: 1000px;
}

.icon {
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(180deg);
}

.global-nav_submenu {
  list-style: none;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 45px;
  margin: 0px 5px 0px -65px;
  max-height: 0;
  transition: max-height 0.5s ease;
}

.global-nav_submenu.show-menu {
  max-height: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.global-nav_submenu a {
  text-decoration: none;
  color: white;
}

.global-nav_submenu a:hover {
  text-decoration: underline;
}

@media (min-width: 780px) {
  .global-nav h2 {
    display: none;
  }

  .global-nav__list:first-of-type {
    display: none;
  }

  .global-nav_submenu, 
  .global-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .global-nav__list a {
    padding: 0px 20px 40px 0px;
  }

  .global-nav__split-button {
    background-color: inherit;
  }

  .global-nav__split-button:hover {
    /* remove the new color upon hover */
    background-color: inherit;
  }

  .global-nav__split-button button {
    display: none;
  }

  .global-nav_submenu {
    display: flex;
    flex-direction: column;
    max-height: fit-content;
    padding-bottom: 10px;
  }
}
