/* Title and logo styling */

.site-title {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.site-title > span {
  font-size: 1rem;
  margin-left: 0.3em;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.logo {
  height: 0;
  width: 0;
  margin: 0.5em;
  display: inline-block;
  /* This was 34px wide */
  border-top: 39px solid var(--bs-light-green);
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
}

.global-header {
  display: grid;
  grid-template-columns: auto 200px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bs-black);
  min-height: 80px;
}

.global-header__right {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}

.global-nav {
  width: 100%;
  grid-column: 1/3;
  border-top: 1px solid #333;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s;
  background-color: var(--bs-black);
  color: white;
}

.global-nav button {
  background-color: transparent;
  border: 0;
  padding: 1rem;
  cursor: pointer;
}

.global-nav svg {
  --icon-color: white;
}

.global-nav__toggle--closed {
  display: flex;
  align-items: center;
}

.global-nav__toggle--open {
  display: none;
  align-items: center;
}

.global-nav__split-button {
  display: flex;
  align-items: center;
  gap: 5px;
}

.global-nav__split-button a {
  color: white;
  text-decoration: none;
  font-size: 1.1em;
  margin-left: 5px;
}

#global-nav-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  background-color: var(--bs-black);
  padding: 0px 20px 0px 20px;
}

.global-nav__toggle[aria-expanded="true"] > .global-nav__toggle--closed {
  display: none;
}

.global-nav__toggle[aria-expanded="true"] > .global-nav__toggle--open {
  display: flex;
}

.global-nav.show-menu {
  max-height: 1000px;
}

#park-header {
  display: flex;
  flex-direction: column;
}

.park-hero-info {
  position: relative;
}

.park-hero-img {
  object-fit: cover;
  height: 450px;
  width: 100%;
}

.park-info {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.76);
  color: white;
  font-size: 15px;
  width: 100%;
  position: absolute;
  bottom: 4px;
}

.park-name {
  font-size: 32px;
  font-weight: bold;
  margin: 15px 25px 15px 15px;
  padding: 10px 5px 10px 5px;
  text-decoration: none;
}

.park-name span {
  color: white;
}

.park-location {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.options-header {
  background-color: var(--bs-black);
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: -5px;
}

.option-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.option-block span {
  color: white;
  z-index: 10;
  margin: 15px 0px -15px 0px;
}

svg {
  /* background-color: var(--bs-black); */
  fill: white;
  width: 25px;
  max-height: 75px;
}

