/* Title and logo styling */

.site-title {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.site-title > span {
  font-size: 1rem;
  margin-left: 0.3em;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.logo {
  height: 0;
  width: 0;
  margin: 0.5em;
  display: inline-block;
  /* This was 34px wide */
  border-top: 39px solid var(--bs-light-green);
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
}

#park-header {
  display: flex;
  flex-direction: column;
}

.park-hero-info {
  position: relative;
}

.park-hero-img {
  object-fit: cover;
  height: 450px;
  width: 100%;
}

.park-info {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.76);
  color: white;
  font-size: 15px;
  width: 100%;
  position: absolute;
  bottom: 4px;
}

.park-name {
  font-size: 32px;
  font-weight: bold;
  margin: 15px 25px 15px 15px;
  padding: 10px 5px 10px 5px;
  text-decoration: none;
}

.park-name span {
  color: white;
}

.park-location {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.options-header {
  background-color: var(--bs-black);
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: -5px;
}

.option-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.option-block span {
  color: white;
  z-index: 10;
  margin: 15px 0px -15px 0px;
}

svg {
  /* background-color: var(--bs-black); */
  fill: white;
  width: 25px;
  max-height: 75px;
}

