.intro-desc-container {
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin-bottom: 20px;
}

.intro-desc-container h1 {
  font-weight: normal;
  font-family: var(--bs-font-serif);
  font-size: 1.8em;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 700px) {
  .info {
    flex-direction: row;
    justify-content: space-around;
  }

  .intro-desc-container {
    padding: 15px;
  }
}