hr {
  margin: 0px 35px 0px 35px;
}

details {
  border-bottom: 1px solid black;
  margin: 0px 35px 0px 35px;
}

summary {
  display: flex;
  align-items: center;
  padding: 15px 5px 15px 15px;
  gap: 5px;
}

.details-content {
  margin: 15px;
}

.vc-gallery h2 {
  margin-left: 35px;
}

.vc-gallery {
  margin-top: 10px;
}

.vc-info p {
  margin: 0px 35px 15px 35px;
}

.vc-name {
  padding-bottom: 0.5em;
  margin-bottom: 0.2em;
}

.vc-name svg {
  width: 1em;
  height: 1em;
}

.vc-info figure {
  margin: 1em 3em;
}

.vc-info figcaption {
  font-size: 0.8em;
}

.vc-info figcaption > span {
  display: block;
  font-size: 0.8em;
  font-style: italic;
}

.vc-details-list svg, .vc-gallery svg {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 1rem;
  fill: black;
}

.vc-details-list summary {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}

#vcAmenities ul {
  list-style: none;
}

#vcAmenities li {
  margin-bottom: 1em;
}

.vc-gallery > h2 {
  text-transform: uppercase;
  font-size: 1.25rem;
}

.vc-gallery ul {
  list-style: none;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.vc-gallery img {
  width: 265px; 
  height: 265px; 
  object-fit: cover;
  object-position: center;
}


/* hide default markers */
.vc-details-list summary::marker,
.vc-details-list summary::-webkit-details-marker {
  display: none;
}
/* then we can use ::after to insert in a new image and position it to the right place */
.vc-details-list summary::after {
  content: "";
  position: absolute;
  right: 10px;
  width: 1.25rem;
  height: 1.25rem;
  background-image: url("../images/arrow.svg");
  background-size: 1.25rem 1.25rem;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.vc-details-list details[open] > summary::after {
  transform: rotate(180deg);
}